<div class="container p-3" style="border-radius: 5px; border: 1px solid black;">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <label
      ><h5
        style="
          color: black;
          font-size: 24px;
          font-weight: bold;
          font-family: 'Dosis', sans-serif;
        "
      >
        Contact-us
      </h5></label
    >
    <br /><br />
    <div class="form-group">
      <label for="exampleInputfirstname">First Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="firstname"
        placeholder="First Name"
        [(ngModel)]="data.firstname"
      />
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.firstname.touched &&
          contactForm.controls.firstname.errors?.required
        "
        style="color: darkred;"
      >
        Please enter first name.!
      </small>
    </div>

    <div class="form-group">
      <label for="exampleInputlastname">Last Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="lastname"
        placeholder="Last Name"
        [(ngModel)]="data.lastname"
      />
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.lastname.touched &&
          contactForm.controls.lastname.errors?.required
        "
        style="color: darkred;"
      >
        Please enter last name.!
      </small>
    </div>

    <div class="form-group">
      <label for="exampleInputphonenumber">Phone Number</label>
      <input
        type="number"
        class="form-control"
        formControlName="phonenumber"
        placeholder="Phone Number"
        [(ngModel)]="data.phonenumber"
      />
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.phonenumber.touched &&
          contactForm.controls.phonenumber.errors?.required
        "
        style="color: darkred;"
      >
        Please enter phone number.!
      </small>
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.phonenumber.touched &&
          contactForm.controls.phonenumber.errors?.pattern
        "
        style="color: darkred;"
      >
        Please enter 10 digits
      </small>
    </div>

    <div class="form-group">
      <label for="exampleInputemail">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Eamil"
        [(ngModel)]="data.email"
      />
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.email.touched &&
          contactForm.controls.email.errors?.required
        "
        style="color: darkred;"
      >
        Please enter email.!
      </small>
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.email.touched &&
          contactForm.controls.email.errors?.email
        "
        style="color: darkred;"
      >
        Enter the valid email .!
      </small>
    </div>
    <div class="form-group">
      <label for="exampleInputmessage">Message</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="message"
        placeholder="Message"
        [(ngModel)]="data.message"
      ></textarea>
      <small
        class="form-text"
        *ngIf="
          contactForm.controls.message.touched &&
          contactForm.controls.message.errors?.required
        "
        style="color: darkred;"
      >
        Please enter message.!
      </small>
    </div>
    <button
      [disabled]="contactForm.invalid"
      type="submit"
      class="btn btn-primary btn-lg btn-block"
    >
      Submit
    </button>
  </form>
</div>
