<div class="Introtext">
  <h1>Intro text</h1>
  <h3>
    There is always enough time for evrthing in life , only if you allow
    yourself to have it. Sometimes when it is not possible to heal by yourself
    remember us because "health over everything" is our mantra and we prioritize
    it over all materialistic things. Book an appointment for yourself and see
    the magic yourself. All you have to do is sit back and relax!!
  </h3>
</div>
<div>
  <button
    type="button"
    (click)="navpage()"
    class="btn btn-primary btn-lg btn-block"
    style="font-family: 'Dosis', sans-serif;"
  >
    Apply For Trainer
  </button>
</div>
